<script
  src="https://giscus.app/client.js"
  data-repo="zoom-quiet/comments"
  data-repo-id="MDEwOlJlcG9zaXRvcnkxOTc1MzkxNjE="
  data-category="Sites Comment"
  data-category-id="DIC_kwDOC8Y1Wc4Cossk"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>

<hr />

<i>旧[utteranc.es]注释:</i>

<script
  src="https://utteranc.es/client.js"
  repo="zoom-quiet/comments"
  issue-term="url"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>
